table {
    height: 100%;
    width: 100%;
}

#taskbar {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: black;
    z-index: 1;
}

#time {
    height: 100%;
    position: absolute;
    width: 120px;
    right: 10px;
    color: white;
    text-align: center;
    z-index: 2;
}

#lock {
    -o-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 2%;
    border-radius: 50%;
    border: 5px solid black;
    width: 40px;
    height: 40px;
    z-index: 2;
}

#lockslot {
    -o-transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
    height: 30px;
    width: 0px;
    border-radius: 50%;
    border: 3px solid black;
    margin: auto;
    margin-top: 2px;

}

#startmenu {
    position: absolute;
    bottom: 47px;
    left: 1%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

#startmenu .startmenuchoice{
    text-align: left;
}
